:root {
  --DesaturatedRed: hsl(0, 36%, 70%);
  --SoftRed: hsl(0, 93%, 68%);
  
  --DarkGrayishRed: hsl(0, 6%, 24%);
  
  --Gradient1: linear-gradient(135deg, hsl(0, 0%, 100%), to hsl(0, 100%, 98%));
  --Gradient2: linear-gradient(135deg, hsl(0, 80%, 86%), hsl(0, 74%, 74%));
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Josefin Sans", sans-serif;
}

.logo {
  width: 25%;
  margin-left: 2em;
  padding: 2em 0;
}

main {
  text-align: center;
  padding: 4em 2em;
}

h1 {
  text-transform: uppercase;
  font-size: 2.3rem;
  letter-spacing: 10px;
}

.h1-were {
  color: var(--DesaturatedRed);
  font-weight: 300;
}

.h1-coming {
  color: var(--DarkGrayishRed);
  font-weight: 600;
}

p {
  color: var(--DesaturatedRed);
  font-weight: 400;
  margin: 2em 0;
  font-size: 0.85rem;
  line-height: 1.5;
}

input {
  border: 1px solid var(--DesaturatedRed);
  border-radius: 30px;
  padding: 1em;
  color: var(--DarkGrayishRed);
  width: 100%;
  position: relative;
}

button {
  border: none;
  background: var(--Gradient2);
  padding: 0.9em 1.7em;
  border-radius: 20px;
  position: absolute;
  right: 2.5em;
  cursor: pointer;
  box-shadow: 0 10px 30px var(--DesaturatedRed);
}

button img {
  display: block;
  margin: 0 auto;
}

.desktop-hero-img {
  display: none;
}

@media screen and (min-width: 48em) {
  
  body {
    background: url(./images/bg-pattern-desktop.svg) no-repeat;
    display: grid;
    grid-template-columns: 55% 45%;
  }

  header, main {
    margin: 2em 6em;
  }

  .logo {
    width: 28%;
  }

  h1 {
    font-size: 4rem;
  }

  p {
    font-size: 1rem;
  }

  h1, p {
    text-align: left;
    width: 92%;
  }

  input {
    width: 92%;
    margin-left: -3em;
    font-size: 1rem;
  }

  button {
    left: 36em;
    bottom: -4em;
    width: 6%;
    padding: 1.3em 3.5em;
    border-radius: 30px;
  }

  button:hover {
    opacity: 0.7;
  }

  .mobile-hero-img {
    display: none;
  }

  .desktop-hero-img {
    display: block;
  }
}